body {
    text-align: center;
}

hr {
    width: 450px;
}

.difficulty {
    display: inline-block;
}

.controls {
    display: inline-block;
}

.lives {
    display: inline-block;
}

#board {
    height: 450px;
    width: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.board-tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    display: flex;
}

.populated-tiles {
    background-color: rgb(192, 191, 191);
}

.row-line {
    border-bottom: 1px solid black;
}

.column-line {
    border-right: 1px solid black;
}

#number-selection {
    height: 50px;
    width: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number-selection-tile {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    display: flex;
}

.user-selected-number {
    background-color: gray;
}